<div class="container bg-white">

  <div class="row">
    <div class="col-6">
      <h1>{{.Title}}</h1>
      <p>{{.Description}}</p>
      <p><a href="/320/240">{{.BaseURL}}/320/240</a></p>
    </div>
    <div class="col-6">
      
    </div>

  </div>

</div>